apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubernetes-demo-app
  labels:
    app: kubernetes-demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: kubernetes-demo-app
  template:
    metadata:
      labels:
        app: kubernetes-demo-app
    spec:
      containers:
        - name: kubernetes-demo-app
          image: htrix/kubernetes-demo-app:latest
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: 'production'
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          resources:
            requests:
              cpu: '100m'
              memory: '128Mi'
            limits:
              cpu: '500m'
              memory: '512Mi'
          readinessProbe:
            httpGet:
              path: /readyz
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 20
